{%extends 'index/template.html'%}

{%block content%}
<div class="container">
    <div class="row">
        {% for bicicleta in bicicletas %}
        <div class="col-md-4 mb-4">
            <div class="card">
                <img class="card-img-top imagen-bicicleta" src="{{ bicicleta.imagen.url }}" alt="{{ bicicleta.modelo }}">
                <div class="card-body">
                    <h5 class="card-title">{{ bicicleta.modelo }}</h5>
                    <p class="card-text">sku: {{ bicicleta.id }}</p>
                    <p class="card-text2">Precio $: {{ bicicleta.precio }}</p>
                    <p class="card-text3">Aro: {{ bicicleta.aro }}</p>
                    <p class="card-text4">Color: {{ bicicleta.color }}</p>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{%endblock%}
<!--<footer class="bg-dark text-white py-4">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h5>Contacta con Nosotros</h5>
                <p><i class="fa fa-phone"></i> Teléfono: +56 2 1234 5678</p>
                <p><i class="fa fa-envelope"></i> Email: contacto@masterbikes.cl</p>
                <p><i class="fa fa-map-marker"></i> Dirección: Av. Siempre Viva 1234, Santiago, Chile</p>
            </div>
            <div class="col-md-6 text-md-right">
                <p>&copy; 2024 MasterBikes. Todos los derechos reservados.</p>
            </div>
        </div>
    </div>
</footer>

<!-- Font Awesome for icons -->
<!--<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet">

<!-- Bootstrap JS and dependencies --><!--
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</body>
</html>
