{% load static %}
<!DOCTYPE html>
<html lang="es">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>AutoChile</title>
		<link rel="stylesheet" href="{% static 'css/style.css' %}">
		<script src="{% static 'js/mensaje.js' %}"></script>
	</head>

	<body>
		<header>
			<h1>AutoChile</h1>
			<h3>Encuentra tu próximo auto</h3>
		</header>

		<nav>
			<a href="{% url 'inicio' %}">Inicio</a>
			<a href="#about">Nosotros</a>
			<a href="#contact">Contacto</a>
			<a href="{% url 'lista' %}">Lista</a>
		</nav>


		<footer>
			<p>&copy; 2024 AutoChile. Todos los derechos reservados.</p>
		</footer>
	</body>
</html>
