{% extends 'servicio/template.html' %}

{% block content %}

<div class="container">
    <div class="row mt-5">
        <div class="col-md-2"></div> <!-- Columna vacía de 2 unidades -->
        <div class="col-md-8">
            <div class="card">
                <div class="card-body">
                    <h2>Login</h2>
                    <form method="post">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <button type="submit">Login</button>
                    </form>
                </div>
                <div class="card-body">
                    <a href={% url 'signup'%} class="button button3">Crear Cuenta</a>
                </div>
            </div>
        </div> <!-- Cierre de col-md-8 -->
        <div class="col-md-2"></div> <!-- Columna vacía de 2 unidades -->
    </div> <!-- Cierre de row -->
</div> <!-- Cierre de container -->


<style>
    .button {
        display: inline-block;
        padding: 10px 20px; /* Ajusta el padding según necesites */
        margin-right: 10px; /* Espacio entre botones */
        margin-bottom: 5px;
        font-size: 16px;
        cursor: pointer;
        text-align: center;
        text-decoration: none; /* Quita el subrayado */
        outline: none;
        border: none;
        border-radius: 5px;
        color: white; /* Fija el color del texto a blanco */
        width: 100%; /* Ajusta el ancho del botón al 100% */
        max-width: 150px; /* Ancho máximo del botón */
    }
    .button1 {
        background-color: #007bff; /* Azul estándar */
    }
    
    .button1:hover {
        background-color: #0056b3; /* Azul más oscuro al pasar el ratón */
    }
    
    .button2 {
        background-color: #dc3545; /* Rojo estándar */
    }
    
    .button2:hover {
        background-color: #c82333; /* Rojo más oscuro al pasar el ratón */
    }
    
    .button3 {
        background-color: #28a745; /* Verde estándar */
    }
    
    .button3:hover {
        background-color: #218838; /* Verde más oscuro al pasar el ratón */
    }
    .button:link, .button:visited, .button:hover, .button:active {
        color: white; /* Asegura que el texto sea blanco en todos los estados */
        text-decoration: none; /* Quita el subrayado en todos los estados */
    }
</style>
{% endblock %}
 